{% extends "base.html" %}

{% block title %}Travel Buddy - Add a Trip{% endblock %}

{% block content %}
<h1>Add a Trip</h1>
<form action="/add_trip" method="POST">
    {% csrf_token %}
    <div class="mb-3 me-3 text-center">
        <label for="destination" class="form-label">Destination: </label>
        <textarea type="text" class="form-control" name="destination" id="destination" rows="1" required></textarea>
        <label for="description_plan" class="form-label">Description: </label>
        <textarea type="text" class="form-control" name="description_plan" id="description_plan" rows="1" required></textarea>
        <label for="start_date">Travel Date From:</label>
        <input type="date" id="start_date" name="start_date" required>
        <label for="end_date">Travel Date To:</label>
        <input type="date" id="end_date" name="end_date" required>
    </div>
    <div class="text-end">
        <button type="submit" class="shadow btn btn-primary">Add</button>
    </div>
</form>

{% endblock %}

{% block library %}
{% endblock %}